@page "/"
@inject IWidgetService WidgetService
@inject IJSRuntime jsRuntime
@attribute [Authorize]
<link rel="stylesheet" href="plugins/toastr/toastr.min.css">
<AuthorizeView>
    <style>
        .dark-tile-layout {
            background-color: #454d55;
            color: white;
        }

        .dark-tile-layout-card-Normal {
            background-color: #004444;
            color: white;
        }

        .dark-tile-layout-card-High {
            background-color: #290D4A;
            color: white;
        }

    </style>
    @if (WidgetInfo.Data != null)
    {
        <div style="display: @(ShowAlert ? "block" : "none")">
            <div class="overlay"></div>
            <div class="alert">
                <img class="blink-ani" src="images/DangerIcon.png" width="100" height="100" />
                <p class="blink-ani" style="text-align:center">Alert</p>
            </div>
        </div>


@*         <TelerikTabStrip Class="dark-tile-layout">
            <TabStripTab Title="During Session">
            </TabStripTab>
            <TabStripTab Title="End Of Day">
            </TabStripTab>
            <TabStripTab Title="Running Procedures">
            </TabStripTab>
            <TabStripTab Title="Vetting">
            </TabStripTab>
            <TabStripTab Title="Bulletins PDF">
            </TabStripTab>
        </TelerikTabStrip> *@



        <TelerikTileLayout class="dark-tile-layout" Columns="12"
                           ColumnWidth="100%"
                           RowHeight="100%"
                           Height="Auto"
                           Reorderable="true"
                           Resizable="true">

            <TileLayoutItems>
                <div class="tiles-container">
                    @foreach (var widget in WidgetInfo.Data)
                    {
                        @if (widget.WidgetInfo.WIDGETTYPE == 1)
                        {
                            <TileLayoutItem class="@(widget.WidgetInfo.SEVERITY == 1?"dark-tile-layout-card-Normal":"dark-tile-layout-card-High")" ColSpan="3">
                                <HeaderTemplate>
                                    <h4 style="color:white">@(widget.WidgetInfo.CHECKTYPE == 1 ? widget.WidgetInfo.NAME : widget.WidgetInfo.NAME + " Starts Working at " + widget.WidgetInfo.AFTERTIME.Value.ToString("hh:mm tt"))</h4>
                                </HeaderTemplate>
                                <Content>
                                    <SyncWidgetComponent SetAlertEvent="SetAlert" StopAlertEvent="StopAlert" WidgetInfo=@widget />
                                </Content>
                            </TileLayoutItem>
                        }
                        @if (widget.WidgetInfo.WIDGETTYPE == 2)
                        {
                            <TileLayoutItem class="@(widget.WidgetInfo.SEVERITY == 1?"dark-tile-layout-card-Normal":"dark-tile-layout-card-High")" ColSpan="3">
                                <HeaderTemplate>
                                    <h4 style="color:white">@(widget.WidgetInfo.CHECKTYPE == 1 ? widget.WidgetInfo.NAME : widget.WidgetInfo.NAME + " Starts Working at " + widget.WidgetInfo.AFTERTIME.Value.ToString("hh:mm tt"))</h4>
                                </HeaderTemplate>
                                <Content>
                                    <StatusWidget SetAlertEvent="SetAlert" StopAlertEvent="StopAlert" WidgetInfo=@widget />
                                </Content>
                            </TileLayoutItem>
                        }
                        <WidgetInfoModal WidgetInfo="widget"></WidgetInfoModal>

                    }
                </div>
            </TileLayoutItems>
        </TelerikTileLayout>
        <button style="display:@(ShowAlert ? "block" : "none")" class="dismiss-button btn btn-danger" onclick="dismissOverlay()">Dismiss</button>

    }
    <style>
        .tiles-container {
            position: relative;
            z-index: 1;
        }
    </style>
    <audio id="Alert" src="/sounds/Alert.wav" loop></audio>
    <audio id="HighAlert" src="/sounds/HighAlert.wav" loop></audio>

    <script>
        window.setAlert = function (severity) {
            var Alert;
            if (severity == 1) {
                Alert = document.getElementById("Alert");
            }
            if (severity == 2) {
                Alert = document.getElementById("HighAlert");
            }
            Alert.play();
        };

        window.stopAlert = function (severity) {
            var Alert;
            if (severity == 1) {
                Alert = document.getElementById("Alert");
            }
            if (severity == 2) {
                Alert = document.getElementById("HighAlert");
            }
            Alert.pause();
            Alert.currentTime = 0;
        };

        window.isAlertOn = function (severity) {
            var Alert;
            if (severity == 1) {
                Alert = document.getElementById("Alert");
            }
            if (severity == 2) {
                Alert = document.getElementById("HighAlert");
            }
            return !Alert.paused;
        };

        function dismissOverlay() {
            var overlay = document.querySelector('.overlay');
            var alert = document.querySelector('.alert');
            var dismissButton = document.querySelector('.dismiss-button');

            overlay.style.display = 'none';
            alert.style.display = 'none';
            dismissButton.style.display = 'none';
        }
        function sendNotification(title, options) {
            if (Notification.permission === 'granted') {
                new Notification(title, options);
            }
        }
    </script>
</AuthorizeView>
@code {


    public ServiceResponse<List<ClientWidget>> WidgetInfo { get; set; } = new ServiceResponse<List<ClientWidget>>();
    private List<string> AlertWidgets = new List<string>();
    public bool ShowAlert { get; set; } = false;
    public int ActiveTabIndex { get; set; } = 1;

    protected override async Task OnInitializedAsync()
    {
        WidgetInfo = await WidgetService.GetWidgetsInfo();
        //await jsRuntime.InvokeVoidAsync("setAlert");
        //bool isPlaying = await jsRuntime.InvokeAsync<bool>("isAlertOn");
        //bool isPlaying = await jsRuntime.InvokeAsync<bool>("isAlertOn");


        if (await JSRuntime.InvokeAsync<string>("Notification.requestPermission") != "granted")
        {
            // Permission not granted, handle accordingly
        }
        else
        {
            // await SendNotification();
        }
    }

    private async Task SendNotification(string Body)
    {
        await JSRuntime.InvokeVoidAsync("sendNotification", "Notification Title", new
        {
            body = Body,
            icon = "/images/DangerIcon.png",
            tag = "EGX-Montioring",
            renotify = true,
            requireInteraction = true,
        });
    }
    private async Task SetAlert(AlertEventData eventData)
    {
        bool isPlaying = await jsRuntime.InvokeAsync<bool>("isAlertOn", eventData.Severity);
        if (!AlertWidgets.Contains(eventData.Message))
        {
            AlertWidgets.Add(eventData.Message);
            if (!isPlaying)
            {
                await jsRuntime.InvokeVoidAsync("setAlert", eventData.Severity);
            }
        }
        else
        {
            if (!isPlaying)
            {
                await jsRuntime.InvokeVoidAsync("setAlert", eventData.Severity);
            }
        }
        if (eventData.Severity == 2 && !ShowAlert)
        {
            ShowAlert = true;
            await SendNotification("There is an urgent error in the (" + eventData.Message + ") widget");
        }
    }
    private async Task StopAlert(AlertEventData eventData)
    {
        bool isPlaying = await jsRuntime.InvokeAsync<bool>("isAlertOn", eventData.Severity);
        if (!AlertWidgets.Contains(eventData.Message))
        {
            if (isPlaying && AlertWidgets.Count == 0)
            {
                await jsRuntime.InvokeVoidAsync("stopAlert", eventData.Severity);

            }
        }
        else
        {
            AlertWidgets.Remove(eventData.Message);
            if (isPlaying && AlertWidgets.Count == 0)
            {
                await jsRuntime.InvokeVoidAsync("stopAlert", eventData.Severity);

            }
            if (eventData.Severity == 2 && ShowAlert)
            {
                ShowAlert = false;
            }
        }
    }





}
